#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.graph {
  padding-bottom: 50px;
}

.bpm {
  margin-top: 20px;
  width: 60%;
}

.bpm > div {
  margin-bottom: 10px;
}

ol {
  list-style: square;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: fit-content;					
  height: fit-content;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

.playerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.playerImage {
  width: 92px;
  height: auto;
}

.dropdownMenu {
  margin-bottom: 50px;
}